@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
  --mobile: 375px;
  --desktop: 1440px;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --light-purple: rgb(118, 108, 241);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(images/pattern-background-mobile.svg);
  background-size: 100% 200%;
}
body p{
  font-size: 16px;
}

.card{
  max-width: var(--mobile);
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 1rem;
}
.card-hero{
  width: 100%;
  height: 180px;
  background-image: url("images/illustration-hero.svg");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card-content{
  padding: 2rem;
}
h1{
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}
.description{
  color: var(--desaturated-blue);
  text-align: center;
  margin-inline: auto;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2rem;
  width: 85%;
}
.subscription-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-inline: auto;
  margin-bottom: 2rem;
}
.icon-music{
  width: 52px;
  height: 52px;
}
.subscription-content{
  margin-left: -1rem;
}
h2{
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: .25rem;
}
.pay-text{
  color: var(--desaturated-blue);
}
.cta-change{
  color: var(--bright-blue);
  font-weight: 700;
}
.cta-change:active{
  text-decoration: none;
  color: var(--light-purple);
}
.cta-btn{
  display: block;
  margin-inline: auto;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: 700;
}
.dark-btn{
  background-color: var(--bright-blue);
  color: white;
  box-shadow: 0 1rem 0.5rem rgba(61, 61, 61, 0.2);
  margin-bottom: 1rem;
}
.dark-btn:active{
  background-color: var(--light-purple);
}
.white-btn{
  color: var(--desaturated-blue);
}
.white-btn:active{
  color: var(--dark-blue);
}

@media (min-width: 1440px)
{
  body{
    background-image: url(images/pattern-background-desktop.svg);
    background-size: cover;
  }
}